* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wraper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  font-family: 'nowregular',Arial,Helvetica,sans-serif;
}
li {
  list-style: none;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 3%;
  border-bottom: 1px solid #cfcfcf;
  margin-top: 2%;
}
.breadcrumb-item {
  font-size: 12px;
  font-family: 'nowregular';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.breadcrumb-item a {
  color: #626262;
}
.breadcrumb-item::after {
  color: #7fcec7;
  content: ">";
}
.breadcrumb-item:last-child::after {
  content: "";
}

.categorie-content {
  padding: 0 15px;
  margin: 5% 0 5%;
  display: flex;
  flex-direction: row;
}
.filters {
  width: 25%;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}
.selected-filters {
  display: none;
  flex-direction: column;
}
.selected-filters-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2%;
}
.selected-filters-title h3{
  color: #000;
  font-family: 'nowregular';
  text-transform: uppercase;
  font-size: 16px;
}
.selected-filter:nth-last-child(1) {
  margin-bottom: 10%;
  padding-bottom: 5%;
  border-bottom: 1px solid #cfcfcf;
}
.clear-all-filters {
  color: #e89ba1;
  margin-left: 24px;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 2%;
}
.close-filter {
  color: #e89ba1;
  font-size: 13px;
  cursor: pointer;
}
.close-categorie {
  font-weight: 700;
  text-transform: capitalize;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}
.close-name-filter {
  text-transform: capitalize;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.categoryF {
  height: 250px;
  margin-bottom: 15%;
  padding-top: 20px;
  border-top: solid #cfcfcf 1px;
}
.categoryF h3{
  color: #000;
  font-family: 'nowregular';
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 8%;
}
.filter-items {
  max-height: 200px;
  overflow-y: auto;
}
.filter-item {
  display: flex;
  align-items: center;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5%;
  color: #333;
  cursor: pointer;
}
.filter-item input {
  opacity: 0;
  cursor: pointer;
}
.check-box {
  border: 1px solid #cfcfcf;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.categorie-goods {
  width: 75%;
  max-width: 870px;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}
.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.sort-select {
  display: flex;
  flex-direction: row;
}
.select-item {
  display: flex;
  align-items: center;
  margin: 0 30px 5% 0;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}
.select-item:last-child {
  margin-right: 0;
}
.select-item:hover {
  border-color: #989898;
}
.select-item p {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #494949;
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: smaller;
  cursor: pointer;
  font-family: unset;
  font-weight: bolder;
}
.some_sort {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.some_sort select {
  height: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 0 4px 4px 0;
  border-left: none;
  background: #f0f0f0;
  background-image: url(../images/select.svg);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 40px 0 20px;
  font-family: 'nowregular';
  font-size: 14px;
}
.some_sort select:active, .some_sort select:focus{
  outline:none
}
.pagination {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 3%;
  align-items: center;
}
.pagination-bottom {
  position: relative;
  left: 80%;
}
.pagination-item {
  cursor: pointer;
}
.pagination-item:hover {
  color: #e89ba1;
}
.active {
  width: 23px;
  height: 34px;
  padding: 6px 7px 4px;
  border: 1px solid #b8b5b5;
  border-radius: 4px;
  background: #e89ba1;
}

.goods{
  width: 870px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(385px, 1fr));
  margin-bottom: 4%;
}
.good {
  height: 385px;
  padding: 0 10.5px 10px 10.5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.good a {
  position: relative;
}
.quick {
  display: none;
  background-color: rgba(255,255,255,.9);
  color: #2d2d2d;
  position: absolute;
  top: 80px;
  left: 20%;
  font-size: 13px;
  padding: 5% 12%;
  border-radius: 4px;
}
.good-img {
  height: 210px;
}
.good a img {
  max-height: 210px;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}
.good p {
  margin: 20px 0 6px;
  color: #8c8c8c;
  font-family: 'nowregular';
  text-transform: capitalize;
  font-size: x-small;
}
.good h4 a{
  margin: 0 0 10px;
  color: #000;
  letter-spacing: .25px;
  font-size: 14px;
}
.price {
  margin: 20px 0 10px;
  font-size: 15px;
  font-weight: bold;
}
.price span {
  color: #000;

}
.stars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e69ea2;
}
.stars span {
  color: #000;
  font-size: 12px;
}
.red {
  color: red;
}

/* go top btn */
.back_to_top {
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.back_to_top-show {
  display: block;
}
.mobile-pagination {
  display: none;
}
.mobile_filter {
  display: none;
}
.mobile_Btn {
  display: none;
}

/* for mobile  */
@media (max-width:768px) {
  .wraper {
    margin-top: 20%;
    width: 100%;
    padding: 2%;
  }
  .categorie-goods {
    width: 100%;
  }
  .mobile_filter{
    display: block;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: white;
    border-bottom: 5px solid #32a37a;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'ChevinPro-Light',Arial,"Helvetica Neue",Helvetica,sans-serif;
    transition: ease-in .3s all;
  }
  .activeFilterMobile {
    background: #32a37a;
  }
  .filters {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    z-index: 5;
    width: 230px;
    padding: 10px 15px;
    overflow-y: auto;
    background: #fff;
    box-shadow: -1px 0 5px #999;
    transition: all ease 0.5s;
    padding-top: 20%;
  }
  .filters_left {
    left: 0;
  }
  .mobile_Btn {
    display: block;
    width: 42px;
    background: url(../images/back_mobile.png) no-repeat center center;
    background-size: 90% 90%;
    text-align: center;
    background-color: #10b781;
    color: #fff;
    margin-bottom: 35%;
    position: absolute;
    right: 4%;
    top: 2%;
  }
  .mobile_Btn p {
    visibility: hidden;
    height: 42px;
  }
  .lines {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    width: 23px;
    margin: 0 8px 0 0;
  }
  .line {
    background-color: #fff;
    width: 100%;
    height: 3px;
    margin: 0 0 2px 0;
    display: block;
  }
  .filter-items {
    padding-left: 2%;
  }
  .goods {
    grid-template-columns: 1fr 1fr;
  }
  .sort {
    margin-bottom: 0;
  }
  .mobile-pagination {
    display: flex;
    justify-content: flex-end;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 2%;
  }
  .pagination-item {
    margin-right: 3%;
  }
  .pagination {
    display: none;
  }
  .sort-select {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width:480px) {
  .wraper {
    margin-top: 23%;
  }
}