@font-face{
    font-family: 'nowmedium';
    src: url('../fonts/nowmedium/nowmedium.eot'),
        url('../fonts/nowmedium/nowmedium.woff') format('woff'),
        url('../fonts/nowmedium/nowmedium.ttf') format('truetype'),
        url('../fonts/nowmedium/nowmedium.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'nowregular';
    src: url('../fonts/nowregular/nowregular.eot'),
        url('../fonts/nowregular/nowregular.woff') format('woff'),
        url('../fonts/nowregular/nowregular.ttf') format('truetype'),
        url('../fonts/nowregular/nowregular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'helvetica';
url('../fonts/helvetica/helvetica.eot'),
url('../fonts/helvetica/helvetica.woff') format('woff'),
url('../fonts/helvetica/helvetica.ttf') format('truetype'),
url('../fonts/helvetica/helvetica.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'butlerlight';
url('../fonts/butlerlight/butlerlight.eot'),
url('../fonts/butlerlight/butlerlight.woff') format('woff'),
url('../fonts/butlerlight/butlerlight.ttf') format('truetype'),
url('../fonts/butlerlight/butlerlight.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'nowbold';
url('../fonts/nowbold/nowbold.eot'),
url('../fonts/nowbold/nowbold.woff') format('woff'),
url('../fonts/nowbold/nowbold.ttf') format('truetype'),
url('../fonts/nowbold/nowbold.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bebas_neuebold';
url('../fonts/bebas_neuebold/bebas_neuebold.eot'),
url('../fonts/bebas_neuebold/bebas_neuebold.woff') format('woff'),
url('../fonts/bebas_neuebold/bebas_neuebold.ttf') format('truetype'),
url('../fonts/bebas_neuebold/bebas_neuebold.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'butler';
url('../fonts/butler/butler.eot'),
url('../fonts/butler/butler.woff') format('woff'),
url('../fonts/butler/butler.ttf') format('truetype'),
url('../fonts/butler/butler.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}