footer {
  font-family: 'nowregular',Arial,Helvetica,sans-serif;
  box-sizing: border-box;
  margin-bottom: 5%;
}
a {
  text-decoration: none;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3% 0 5%;
  padding-top: 5%;
  border-top: 1px solid #e4e4e4;
}
.footer-nav_item {
  width: 33.3%;
}
.footer-nav_item:nth-child(2) {
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}
.footer-nav_item li {
  list-style-type: none;
}
.footer-nav_tittle {
  color: #000;
  text-transform: uppercase;
  letter-spacing: .25px;
  font-size: 15px;
  font-family: 'nowbold';
  margin: 13px 0 11px;
}
.get_updates {
  font-family: 'nowregular';
  font-size: 13px;
  color: #6b6b6b;
  margin-bottom: 21px;
}
.footer-email {
  display: flex;
  align-items: center;

}
.footer-email-inp{
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 10px 9px;
  width: 60%;
  color: #222;
  font-size: 14px;
}
.footer-email-btn {
  background: #e99da1;
  color: #fff;
  padding: 10px 20px;
  font-family: 'nowregular';
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-left: 12%;
  cursor: pointer;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.socialLinks-item {
  margin-right: 4%;
}
.socialLinks-item svg{
  width: 21px;
  height: 21px;
  fill: #4f4f4f;
}
.socialLinks-item:hover svg {
  fill: #a5a5a5;
}
.footer-links {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'nowmedium';
}
.footer-links ul li {
  margin: 4% 0;
}
.footer-links ul li a{
  color: #000;
}
.footer-links ul li a:hover {
  color: #4f4f4f;
}

/* 2 section */
.footer-info {
  margin: 0 auto;
}
.footer-info-title {
  width: 100%;
  background: #f6f6f6;
  text-align: center;
  padding: 15px;
}
.footer-info-title a {
  color: #000100;
  font-size: 14px;
  font-family: 'nowmedium';
  text-transform: uppercase;
  letter-spacing: .25px;
}
.footer-info-title a:nth-child(2) {
  padding: 0 5px;
}
.footer-info-text {
  margin: 2% 0 2% 0;
  line-height: 1.5rem;
  color: #4f4f4f;
  letter-spacing: .25px;
  text-indent: 2%;
  font-size: 13px;
  text-align: center;
}
.footer-info_last-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.footer-info_last-item p{
  font-size: 14px;
}
.mobile-footer-item, .mobile-footer-nav_tittle {
  display: none;
}

/* mobile */
@media (max-width:768px) {
  .footer-nav_tittle, .get_updates, .footer-email, .footer-mobile, .footer-info-title, .footer-amg-pay {
    display: none;
  }
  .footer {
    width: 100%;
  text-align: center;
  }
  .footer-nav {
    display: block;
  }
  .socialLinks {
    justify-content: center;
  }
  .socialLinks-item {
    margin-right: 2%;
    margin-bottom: 5%;
  }
  .socialLinks-item:last-child {
    margin-right: 0;
  }
  .mobile-footer-item {
    display: block;
    background: #e8e8e8;
    padding: 10px 0;
  }
  .mobile-footer-nav_tittle {
    display: block;
  }
  .mobile-footer-item h5 {
    letter-spacing: .25px;
    font-size: 18px;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: 'nowmedium';
  }
  .mobile-footer-item h5 span {
    color: #474747;
    font-size: 16px;
  }
  .mobile-footer-email {
    display: flex;
    justify-content: center;
  }
  .mobile-footer-email-inp {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    height: 38px;
    font-weight: 700;
    border: 0 none;
    text-transform: uppercase;
    padding: 0 50px 0 10px;
    width: 35%;
  }
  .mobile-footer-email-btn {
    background: #61a0a6 url(../images/footerArrow.webp) no-repeat scroll center center;
    border: medium none;
    width: 10%;
    display: inline-block;
    text-align: center;
    border-radius: 0px;
    height: 38px;
    cursor: pointer;
  }
  .footer-nav_item {
    width: 100%;
  }
  .mobile-footer-links {
    background: #e8e8e8;
    font-size: 14px;
    padding: 15px 0 25px 0;
  }
  .mobile-footer-links ul li {
    margin-top: 0;
    margin-bottom: 15px;
    color: #000100;
  }
  .footer-info_last-item  {
    display: block;
    font-family: 'nowmedium';
    margin-bottom: 5%;
  }
  .mobile-footer-nav_tittle {
    color: #000;
    text-transform: uppercase;
    letter-spacing: .25px;
    font-size: 15px;
    font-family: 'nowbold';
    margin: 13px 0 11px;
  }
}