.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_sing {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.header_mid_img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
}
.header_mid_img span {
    height: 35px;
    border: 1px solid lightgray;
}
.header_vault {
    display: flex;
}

.header_vault-text {
    text-decoration: none;
    transition: 0.5s;
    display: block;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 11px 0 11px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'nowmedium', sans-serif;
    background: linear-gradient(45deg, rgba(221,162,165,1)
                                   15%,rgba(242,204,206,1)
                                   50%,rgba(221,162,165,1) 82%);
}

.header_vault-text:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.header_vault-text span {
    background: url(../images/sleekvault-cycle.webp) no-repeat;
    background-position: 6px 5px;
    padding: 11px 6px 10px 40px;
    text-transform: uppercase;
}

.header_vault-sing {
    display: block;
    transition: 0.5s;
    text-decoration: none;
    background: #F5E3E4;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px 15px 11px 15px;
    font-size: 13px;
    color: #dda2a5;
    font-weight: 500;
    font-family: 'nowmedium', sans-serif;
}

.header_vault-sing:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header_text img {
    height: 24px;
}

.header_text p {
    color: #4f4f4f;
    font-family: 'nowmedium', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-left: 10px;
}

.header_gif {
    width: 194px;
    height: 12px;
    padding-left: 20px;
}

.header_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.header_search {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.header_input {
    display: flex;
    border: 1px solid #000;
    height: 34px;
}

.header_input-field {
    width: 270px;
    border: none;
    outline: none;
    padding: 6px 6px;
    font-size: 14px;
}

.header_input-button {
    width: 50px;
    background: url("../images/icon-search-large.png") center center no-repeat;
    outline: none;
    border: none;
}

.header_main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    width: 100%;
    height: 50px;
}

.header_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'nowregular', sans-serif;
    padding: 15px 25px 0 10px;
}

.link:hover {
    color: #191919;
    background: white;
}

.header_link-wellness {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.header_link-wellness a {
    padding-left: 8px;
    color: #ffca9a!important;
}

.header_link-men {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.header_link-men a {
    padding-left: 8px;
    color: #87b7bb!important;
}

.header_link-gifts {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.header_link-gifts a {
    padding-left: 8px;
    color: #ea9fa3!important;
}

.header_test {
    position: relative;
}

.header_navigation {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    top: 50px;
    z-index: 2;
    background: white;
    border-bottom: 1px solid grey;
}

.header_section {
    display: none;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 10px 0 100px 0;
}

.header_section-product {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.header_product {
    width: 50%;
    margin: 0 16px 0 0;
    padding: 0;
}

.header_product-main {
    list-style: none;
    letter-spacing: 2px;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}

.header_product-main a {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #4f4f4f;
    font-family: 'nowregular', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header_product-main a:hover {
    color: #e79aa0;
    border-bottom: 1px solid #e79aa0;
}

.header_subproduct {
    width: 50%;
    display: none;
    padding: 0;
    margin: 0 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header_subproduct-main {
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
    padding-bottom: 12px;
}

.header_subproduct-main a {
    color: #e79aa0;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'helvetica', sans-serif;
    text-decoration: none;
}

.header_seller {
    width: 50%;
}
.header_seller-headline {
    text-align: left;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 29px;
    color: #4d4d4d;
}

.header_seller-headline span {
    font-family: 'butlerlight', sans-serif;
}

.header_seller-product {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header_seller-field {
    display: flex;
    flex-direction: column;
}

.header_seller-img {
    height: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    width: auto;
    max-height: 100%;
}

.header_seller-item {
    padding-top: 30px;
    text-align: center;
    color: #E99DA1;
    font-family: 'nowregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.header_seller-item p {
    margin: 0;
    padding: 0;
}

.header_mobile {
    display: none;
}

/* mobile */
@media (max-width:1080px) {
    .link {
        height: 50px;
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        letter-spacing: 2px;
        font-family: 'nowregular', sans-serif;
        padding: 15px 7px 0 5px;
    }
}

@media (max-width:768px) {
    .header {
        display: none;
    }
    .header_mobile {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 3;
        background: white;
        top: 0;
        padding: 2%;
    }
    .mobile_logo {
        width: 25%;
    }
    .first-line {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2%;
    }
    /* burger menu */
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    /* links */
    .header-mobile_link {
        display: none;
        flex-direction: column;
        background-color: #fff;
        width: 90%;
        box-shadow: 5px 5px 10px #ccc;
        margin-top: 1%;
    }
    .mobile_link {
        align-items: center;
        border-top: 1px solid #ccc;
        margin: 0 1%;
        padding-top: 1%;
    }
    .mobile_link:first-child {
        border: none;
    }
    .mobile_link-first {
        background: linear-gradient(135deg,#f4cfd1 19%,#dda2a5 49%);
        display: flex;
        justify-content: space-between;
        padding: 2%;
        color: white;
    }
    .mobile_link_item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'nowregular';
        font-size: 13px;
        font-weight: 400;
    }
    .mobile_link_item img {
        margin-right: 10px;
    }
    .mobile_link_item p span {
        padding-bottom: 1px;
        border-bottom: 1px solid white;
    }
    .text_mob {
        text-transform: uppercase;
        font-size: 11px;
    }
    .mobile_link a{
        font-family: 'nowregular';
        font-size: 15px;
        color: #000;
        letter-spacing: 1px;
        padding-left: 1%;
    }
    .mobile_link a i{
        padding-top: 1%;
        float: right;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }
    /* end burger menu */
    .header_input {
        border: none;

    }
    .header_input-button {
        background: url(../images/quick-search-mob.webp) no-repeat;
        background-position: center;
        background-color: #f2f2f2;
        float: left;
        height: 34px;
        width: 7%;
    }
    .header_input-field {
        width: 93%;
        background: #f2f2f2;
    }
}